<template>
  <div class="hello">
    <h1>Weather</h1>
    <h3><router-link to="/add">+ Add new city</router-link></h3>
    <div v-show="hasCities">
      <h2>Cities</h2>
      <ul>
        <li v-for="city in cities">
          <strong>{{ city }}</strong>
          <span v-show="!hasWeather(city)">(Loading...)</span>
          <span v-show="hasWeather(city)">(Current: {{ weatherForCity(city).temp }}F˚ [min: {{weatherForCity(city).temp_min}}F˚ / max: {{weatherForCity(city).temp_max}}F˚] )</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';

export default {
  name: 'cities',
  computed: {
    ...mapGetters(['hasCities']),
    ...mapState(['cities', 'forecast']),
  },
  methods: {
    hasWeather(city) {
      return this.weatherForCity(city) !== false;
    },
    weatherForCity(city) {
      return this.forecast[city];
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
