<template>
  <div id="new-city">
    <h1>New City</h1>
    <form class="" @submit.stop.prevent="newCityFormSubmit">
      <input v-model="city" type="text" name="city" placeholder="e.g. Moscow">
      <input type="submit" value="Add">
    </form>
  </div>
</template>

<script>
import _ from 'lodash';
import { mapMutations, mapActions } from 'vuex';

export default {
  name: 'new-city',
  data: () => ({
    city: '',
  }),
  methods: {
    ...mapMutations(['addCity']),
    ...mapActions(['requestForecast']),
    newCityFormSubmit() {
      const cityName = _.trim(this.city);
      if (cityName === '') {
        return;
      }
      this.requestForecast(cityName);
      this.$router.push('/');
    },
  },
};
</script>

<style>
</style>
